body{
	background: #ECF7F3;
	margin: 0;
	margin: auto;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}

/*-- HEADER --*/
.header{
	max-width: 1400px;
	width: 100%;
	margin: auto;
}
.header-container{
	display: flex;
	padding: 30px 141px 0;
}

/*LOGO*/
.logo{
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 8px;

	align-items: center;
	justify-content: center;
}
.logo__ellipse{
	width: 40px;
	height: 40px;
	stroke-width: 5px;
	stroke: #F9A779;
}
.logo__letter{
	color: #48B774;
	font-family: Roboto;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: absolute;
	left: 10px;
	top: 3px;
}
.logo__text{
	color: #2D2D2D;
	font-family: Poppins;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

/*NAV*/
.container-for-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1400px;
	width: 100%;
}
.nav{
	max-width: 365px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.nav__menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	list-style-type: none;
	padding-inline-start: 0px;
	margin: 0;
}
.menu-item{
	color: #4A4A4A;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	cursor: pointer;
}
.active-page{
	display: block;
	position: relative;
	padding: 4px 0;
}
.active-page::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 46px;

	width: 21px;
	height: 1.5px;
	background-color: #FB9B69;

	transition: opacity 0.8s, transform 0.8s;
	opacity: 1;
	transform: scale(1);
	transform-origin: center;
}

/*SIGN UP BTN*/
.sign-up-btn{
	display: inline-flex;
	padding: 9px 23px;
	justify-content: center;
	align-items: center;
	border:none;

	border-radius: 20px;
	background: #48B774;

	color: #FFF;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	cursor: pointer;
}